body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #ff0000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 30px;
}

.intro h2 {
    color: #007bff;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.predictor-form form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background: #007bff;
    color: white;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}


.main-title {
    color: red
}